/* partie footer*/
.footer{
  
    width: 100%;
    background-color: #263152;
    display: flex;
    color: #A8A9AC;
    padding-top: 50px;
    font-size: 13px;
    flex-wrap: wrap;
   
}
.container_all{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.contact_footer a {
    text-decoration: none!important;
    color: #A8A9AC;
    margin-left: 25px; 
    border: 1px solid #A8A9AC; 
    border-radius: 20px;
    padding: 8px 10px;
    padding-top: 6px;  
}
.menu_footer{
    display: flex;
    flex-direction: column; /*row*/ 
}
.menu_footer h5{
    font-size: 18px;
}

.menu-footer-container ul li a:hover{
    text-decoration: underline;
}

.recherche_footer h5{
    
    width: 80px;
    height: 40px;
    padding-left: 10px;
}

.langue_footer{
    margin: 0 10px;
    padding-left: 30px;
}

.bas_footer{
    margin: auto;
    margin-top: 20px;
}
.bas_footer ul{
    display: flex;
 
}
.bas_footer li{
    list-style-type: none;
    display: flex; 
    margin-right: 35px;  
}
.bas_footer li a{
    text-decoration: underline;
    color: white;
    font-size: 12px;
}

.container_ul_footer{
    display: flex;
}
.container_ul_footer ul{
    padding:0 10px;
}
.container_ul_footer li a{
    color: white;
}
.info_footer{
    display: flex;
    margin: auto;
    align-items: baseline;
    justify-content: space-between;  
}

.reseaux_sociaux_footer a{
    padding:0 5px;
}
.fa_footer{
    border: 1px solid #A8A9AC;
    border-radius: 20px;
    padding: 10px 30px;
}

.btn_footer{
    border: none;
    background-color: #263152;
    color: #A8A9AC;
    padding-left: 15px;
}
.implantation a{
    color:#A8A9AC ;
}
.menu-footer{
    display: flex;
}
.menu-footer li a:nth-child(1){
    font-size: 14px;
    color: #A8A9AC;
}

.menu-footer .sub-menu li a{
    color: white;
    font-size: 12px; 
}

.sub-menu{
    margin-top: 10px;
}

/* fin de partie footer */

/* media queries*/
@media screen and (min-width: 1336px){

    .logo_footer{
        margin-left: 10%;
    }
    .footer{
        font-size: 12px;
    }
    .menu_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu_footer h5{
        font-size: 15px;
    }
    .info_footer{
        display: flex; 
        align-items: baseline;
        margin: -5px; 
    }
    .langue_footer{
        margin-right: 50px;
    }
    .langue_footer svg{
        width: 24px;
    }
    .reseaux_sociaux_footer{
        display: contents;
    }
    .reseaux_sociaux_footer a{
        width: 34px;
    }
    .contact_footer a {
        margin-left: 0px;
    }
    .container_ul_footer ul{
        padding:0 25px;
    }
    /* #menu-item-463{
        width: 115px;
        padding:0 15px;
    }
   
    #menu-item-460{
        width: 100px;
    }
    #menu-item-461{
        width: 121px;
    }
    #menu-item-456{
        width: 115px;
    }
    #menu-item-462 .sub-menu{
        padding: 0;
        
    }
    #menu-item-462{
        width: 100px;
    }
    #menu-item-459{
        width: 110px;
    } */
    
}
@media screen and (min-width: 1025px) {
    .menu-footer{
        justify-content: space-between;
    }
    .menu-footer-container{
        width: 100%;
    }
    .reseaux_sociaux_footer a img{
        width: 24px;
    }
    #menu-item-462 .sub-menu{
       width: 120px;   
    }
    #menu-item-463{
        width: 115px;
        padding:0 15px;
    }
   
    #menu-item-460{
        width: 100px;
    }
    #menu-item-461{
        width: 121px;
    }
    #menu-item-456{
        width: 115px;
    }
    #menu-item-462 .sub-menu{
        padding: 0;
        
    }
    #menu-item-462{
        width: 100px;
    }
    #menu-item-459{
        width: 110px;
    }
    
}

@media screen and (max-width: 1024px) {

    .menu_footer h5{
        font-size: 15px;
    }
    .logo_footer{
        padding-left: 20px;
    }
    .bas_footer li a{
        font-size: 15px;
    }
    .langue_footer svg{
        width: 24px;
    }
    .reseaux_sociaux_footer{
        display: contents;
    }
    .reseaux_sociaux_footer a{
        width: 34px;
    }
    .container_all{
        margin: 0;
        padding:0 20px;
    }
    .contact_footer a{
        padding: 8px 7px;
    }
    .menu_footer li{
        font-size: 12px;
        padding-right: 5px;
    }
    .container_ul_footer{
        justify-content: center;
    }
    #menu-item-463{
        width: 115px;
        padding-right: 10px;
    }
   
    #menu-item-460{
        width: 100px;
    }
    #menu-item-456{
        width: 115px;
    }
   

    #menu-item-461{
        width: 121px;
    }
    #menu-item-456{
        width: 115px;
    }
    #menu-item-462 .sub-menu{
        padding: 0;
        
    }
    #menu-item-462{
        width: 100px;
    }
    #menu-item-459{
        width: 110px;
    }
    
}

@media screen and (max-width: 950px) {

    .container_ul_footer, .langue_footer, .recherche_footer{
        display: none;
    }
    .info_footer{
        flex-direction: column-reverse;
        margin: 0;
        align-items: center;
    }
    .contact_footer a{
        margin: 0;
    }
    .reseaux_sociaux_footer{
        display: flex;
        position: relative;
        bottom: 25px;
    }
    .bas_footer{
        margin: 0;
    }
    .bas_footer ul{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
    }
    .container_all{
        align-items: center;
    }
    .bas_footer li {
        margin-right: 0;
    }
    
}