header{
    padding: 0 10%;
}
#toggle{
    display: none;
}

#Home{
    display: none;
}
.menu-header{
  display: flex;
}
.mobile_menu{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
    padding-top: 15px;
}
.nav-item{
  position: relative;
}
.menu-header .sub-menu{
  display: none;
  position: absolute;
  flex-direction: column;
  z-index: 9999999999;
  background-color:#F0F0F0;
  border-radius: 10px;
  padding: 5px;
 
}


.menu-header .sub-menu li {
    margin: 5px 0;
}
.menu-header .current_page_item{
  border-bottom: 2px solid #00A445; 
  background-color: transparent!important;
  color: #263152!important;
  width: fit-content;
}

.menu-header .current_page_item:active {
    background-color: transparent;
}



.hidden {
    overflow: hidden;
}

.liste_ul{
  
    align-items: baseline;
    height: 40px;
    margin-bottom: 0;
}
.liste_ul li{
    font-size: 12px;
    padding: 0px 9px;
    height: 100%;
}
.liste_ul li a{
    color:#263152 ;
}
.menu_header{
    width: 100%;
}
.menu_header .container_all_header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
}
.logo svg{
    width: 100px;
}
.langue svg{
    width:24px;
}
header{
    margin-top: 15px;
}
.contact_header a{
  border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 8px;
}
.search_form{
  background-color: white;
    border:none;
    padding: 3px 10px;
}
.search{
  display: flex;
  justify-content: space-around;
}
.btn_modal{
  padding: 6px;
}
.input_search{
   border: 1px solid #e4e4e4;
    border-radius: 7px;
    background-color: #e4e4e4;
    padding: 5px 10px;
    
}
.modal-title{
  color: #263152;
}
.bouton_recherche{
     border: none;
    background-color: white;
}
.btn_modal:hover{
  color: white;
}

.infos__mobile {
    display: none;
}

.logotype{
  width: 240px;
}

/* media queries*/
@media screen and (min-width: 1366px){

    #Home{
        display: block;
    }

    .logo svg{
        width: 200px;
    }
    .liste_ul li{
        font-size: 14px;
        padding: 0px 10px;   
    }
}


@media screen and (max-width: 1024px){

    .logotype{
        width: 150px;
    }
}



/*Burger menu - toggle */
#nav-toggle {
    position: absolute;
    top: -100px;
  }
  
  nav .burger {
    display: none;
  }
  
  nav .burger .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  
 
/* responsive menu burger */



@media screen  and (max-width: 950px) {

    .menu_header .container_all_header {
        align-items: center;
    }
    .menu-header{
      flex-direction: column;
    }
    .container_nav .menu-links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 110px;
        bottom: 100%;
        flex-direction: column;
        width: 100%;
        height: 0vh;
        background-color:white;
        overflow: hidden;
        transition: all .5s ease-in-out;
        align-items: flex-end;
      }

    .infos__mobile {
        display: flex!important;
        flex-direction: row!important;
        align-items: center!important;
        width: auto!important;
        justify-content: flex-start;
        margin-top: 20px;
        margin-right: 40px!important;
    }

    .infos__mobile .search_form {
        margin: 0 10px!important;
    }
      
      .container_nav .menu-links a{
        font-size: 16px;
        
      }
      .container_nav .logo{
        float: none;
        width: auto;
        justify-content: center;
      }
      
      .container_nav .burger {
        display: block;
      }
      
      .container_nav :checked ~ .menu-links {
        bottom: 0;
        height: 90vh;
        align-items: flex-end;
          padding: 10px 30px;
        
      }
      
      .container_nav :checked ~ .burger .line:nth-child(1) {
        transform: translateY(9px) rotate(225deg);
      }
      
      .container_nav :checked ~ .burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
      }
      
      .container_nav :checked ~ .burger .line:nth-child(2) {
        opacity: 0;
      }

      .liste_ul li {
        font-size: 15px;
        padding: 6px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        margin-right: 20px;
        height: unset;
        
    }
    #contact{
        display: none;
    }
    #search1{
        display: none;
    }
    .langue{
        display: none!important;
    }
    .menu-header .sub-menu{
      display: flex;
      position: initial;
      z-index:0;
      background-color:transparent;
      border-radius: 0;
      padding: 0;
      width: 100%;
    }
    .liste_ul{
      height: unset;
    }
    .menu-header-container{
      margin: 20px 0 0 50px;
    }
    .infos__mobile{
      margin-left: 50px;
    }
    .menu-header-container ul li{
      font-weight: 600;
    }
    
    .sub-menu li{
      font-weight: 300!important;
      width: max-content;
    }
    
    
}
@media screen  and (max-width: 767px) {

      
      .container_nav .menu-links a{
        font-size: 14px;
        
      }
      .container_nav .logo{
        float: none;
        width: auto;
        justify-content: center;
      }
      
      .container_nav .burger {
        display: block;
       
      }
      
      .container_nav :checked ~ .menu-links {
        bottom: 0;
        height: 100vh;
        align-items: end;

      }
      
      .container_nav :checked ~ .burger .line:nth-child(1) {
        transform: translateY(9px) rotate(225deg);
      }
      
      .container_nav :checked ~ .burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
      }
      
      .container_nav :checked ~ .burger .line:nth-child(2) {
        opacity: 0;
      }

      .liste_ul li {
        padding: 3px 0;
        width: 100%;
    }
    .menu-header-container ul li{
      font-weight: 600;
    }
    .sub-menu li{
      font-weight: 300!important;
    }
    
}

@media screen and (max-width: 768px){

    .logo svg{
        width: 180px;
    }
    #Home{
        display: block;
    }
    
}

@media (max-width: 374px){

    .container_nav :checked ~ .menu-links {
        height: 70vh;
    }

}

/* a mettre dans header   */ 



@media screen and (min-width: 1366px) {

  .liste_ul li:not(#contact) a {
  
      padding-bottom: 20px;
  
  }
  
  }
  
  
  
  
  
  @media (max-width:570px) {
  
      .liste_ul li {width: 100%}
  
  .container_nav :checked ~ .menu-links {
  
      height: calc(100vh - 105px);
  
      overflow: auto;
  
  }
  
  
  
  .container_nav :checked ~ .menu-links {
  
      align-items: end;
  
      /* padding-left: 35px !important; */
  
  }
  
  }

  @media (min-width: 950px) {
    .liste_ul{
      display: flex;}
  }
  @media (min-width: 768px) {
   
  }