

/* bloc intro*/
.intro{
    margin-top: 10px;
    width: 100%;
    background-color: #263152;
    color: white;
    padding: 50px 20px;
}
.contain{
    
    display: flex;
    justify-content: space-around;
}

.logo_earth{
    padding-top: 40px;
    padding-left: 15px;
}

.text_intro{
    width: 50%;
}

.text_intro h3 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.text_intro p {
    text-align: center;
    padding-top: 25px;
    font-size: 17px;
}

#title_intro{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
#presentation_intro{
    text-align: center;
    padding-top: 25px;
    font-size: 19px;
}
.btn_reseau_sociaux{
    padding-top: 40px;
    padding-right: 15px;
}
.btn_reseau_sociaux a:hover{
    background-color:#00A445 ;
}

.btn_reseau_sociaux a{
    border: 1px solid white!important;
    border-radius: 20px!important;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    text-align: center;
}
.btn_plus{
    margin: auto;
    width: 41%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.btn_plus a{
   border: 1px solid white!important;
   border-radius: 20px!important;
   color: white;
   display: flex;
   justify-content: center;
   width:120px;
   font-size: 10px;
    padding: 10px;
}

/* bloc activité*/
.cards_activite{
    display: flex;
    width: 100%;
    box-shadow: #c2c5d0 1px 1px 5px;

}

.card-text{
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 0 9px;
   
}
.btn{
    font-size: 10px;
}

.card1, .card2{
    display: flex!important;
    width: 50%;
}
.card1 img{
    height: -webkit-fill-available;
    object-fit: cover;
}

.card1 .card-body, .card2 .card-body{
    padding: 0;
    width: 50%;
}

.card1 .text_card, .card2 .text_card{
    padding: 10px;
    justify-content: center;
}

.card-body{
    padding: 20px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    text-align: center;
    font-size: 18px;
    color: #263152;
    font-family: "Aktiv Grotesk Corp Bold" , sans-serif;
}
.btn_card_activite{
    background-color: #263152;
    border-radius: 20px!important;
    color: white;
    font-size: 10px;
    padding: 5px 20px;
}
.title_activite{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 25px 0;
    color: #686968;
}

.text_card p{
    color: #263152;
}
.text_card a:hover{
    color: white;
}

/* bloc carousel actualité */


.carousel__actu img{
    padding: 30px 20px 0;
    height: 200px;
    object-fit: cover;
}

.owl-theme .owl-nav{
    display: none!important;
}
.owl-theme .owl-dots{
    padding-top: 10px!important;
}
.description_actu{
    text-align: justify;
    font-size: 13px;
    padding: 0 20px!important;
}
.btn_card_actu{
    border: 1px solid #686968;
    border-radius: 20px!important;
    color: #686968;
    font-size: 12px;
    padding: 5px 10px;
}
.cards_home{
    margin: auto;
    color: #686968;
    
}
.cards_home h5{
    align-self: flex-start;
    padding: 0 20px;
    color: #686968;
    text-align: initial;
    
}
.cards_accueil{
    height: 460px;
}
.cards_accueil h5{
    height: 45px;
}
.cards_accueil p{
    height: 125px;
}
.cards_home a{
    align-self: flex-end;
    margin-right: 30px;
}


.actu__home .cards_home a:hover{
    color: #686968;

}
/* bloc carousel réalisation*/
.title_réalisation{
    color:#00A445 ;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 25px 0;
    padding-top: 25px;
    
}
.btn_card_real{
    background-color: #00A445;
    border-radius: 20px!important;
    color: white;
    display: flex;
    justify-content: center;
    width: 100px;
    font-size: 10px;
    padding: 5px;
}

.carousel__real .card img {
    height: 200px;
    object-fit: cover;
}

/* bloc recrutement*/
.title__recrutement{
    padding-top: 25px;
}
.cards_recrutement{
    display: flex; 
    padding-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}
#recrutement{
    width: 100%;
    margin: 10px 0px;
}
.title_recrutement{
    font-size: 15px;
    color: white;
    text-align: justify;
    padding: 0 10px;
    width: 100%;
}
.title_recrutement2{
    text-align: justify;
    font-size: 15px;
    padding: 0 15px;

}
.color_text{
    color: white;
    padding: 2px 15px;
    text-align: justify;
}



.color_text2{
    padding: 2px 15px;
    text-align: justify;
}

.cards_recruit {
    margin: 0 5px;
    border-radius: 10px;
}

.cards_recruit .card-body{
    padding: 50px 20px;
}
.card_recruit{
    background-color:#00A445;
    border-radius: 10px;
}
.btn_card_recruit{
    border-radius: 20px!important;
    background-color:white ;
    color: #00A445;
    align-self: self-start;
    margin-left: 25px;
    padding: 5px 10px;
}
.btn_recruit{
    align-self: self-start;
    margin-left: 25px;
}

.container_recrutement .card_recruit a:hover {
    color: #00A445;
}

/*bloc contact */
.container_bckg_footer{
    background-color: rgba(168,169,172);
    width: 100%;
}
.container_contact{
    margin-top: 25px;
    display: flex;
    margin-bottom: 50px;
}
.contact_left p ,  .contact_left a{
    font-size: 14px;
    color: white;  
}
.contact_left h6{
    color: black;
    margin-bottom: 0;
}


.contact_left .contact_btn a{
    color: #A8A9AC;
}
.contact_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    margin-left: 40px;
}
.contact_right iframe{
    height: 100%;
}
.contact_adresse{
    width: 65%;
}
.btn_contact{
    border: 1px solid white;
    border-radius: 20px!important;
    background-color:white ;
    color: #A8A9AC;
    display: flex;
    justify-content: center;
    width:150px;
    font-size: 15px;
    margin-top: 20px;
}

/* media queries*/
@media screen and (min-width: 1366px){

    .text_card{
        padding-top: 45px;
    }
    .card-text{
        font-size: 14px;
        padding: 0 10px;
    }
    .btn_card_activite{
        display: flex;
        padding: 7px;
        font-size: 11px;
    }
    .btn_card_activite svg{
        margin-left: 5px;
        width: 15px;
        display: flex;
        align-self: center;
    }

    .cards_home{
        margin: auto;
    }

    .title_recrutement{
        padding: 5px 20px;
    }
    .title_recrutement2{
        padding: 5px 20px;
    }
    .color_text{
        padding: 2px 25px;
    }
    .color_text2{
        padding: 2px 25px;
    }
    .btn_card_actu{
        display: flex;
        justify-content: center;
        width:110px;
        font-size: 11px;
        padding: 7px;
    }
    .btn_card_actu svg{
        margin-left: 5px;
        width: 15px;
        display: flex;
        align-self: center;
    }
    .btn_card_real{
        display: flex;
        justify-content: center;
        width:110px;
        font-size: 11px;
        padding: 7px;
    }
    .btn_card_real svg{
        margin-left: 5px;
        width: 15px;
        display: flex;
        align-self: center;
    }
    .btn_card_recruit{
        display: flex;
        justify-content: center;
        font-size: 11px;
        padding: 7px;
    }
    .btn_card_recruit svg{
        margin-left: 5px;
        width: 15px;
        display: flex;
        align-self: center;
    }
    .container_contact{
        justify-content: center;
    }
    .container_recrutement{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {

    #presentation_intro{
        padding: 25px;
        font-size: 13px;
    }
    .logo_earth svg{
        width: 90px;
    }
    
    .text_card h5{
        font-size: 13px;
    }
    .text_card p{
        font-size: 11px;
        padding: 0 3px;
    }
    .card1, .card2{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .cards_recrutement{
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards_recruit{
        margin-top: 10px;
    }
    .contact_right{
        width: 50%;
    }

    .card1 .card-body, .card2 .card-body{
        width: 100%;
    }
    .btn_reseau_sociaux {
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px)  {

    .real__home .cards_home {
        margin: 10px 0;
    }
    .intro{
        margin-top: 0;
        padding: 0;
    }
    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
    .logo_earth{
        order: 1;
        padding: 0;
    }
    .btn_reseau_sociaux{
        order:2;
        padding: 0;
    }
    .text_intro{
        width: 100%;
        padding: 10px ;
    }
    #presentation_intro{
        padding: 20px;
    }
    .cards_activite{
        flex-direction: column;
        align-items: center;
    }
    .container_contact{
        display: flex;
        flex-direction: column;
    }
    .contact_left{
        order: 1;
    }
    .contact_right{
        height: 300px;
    }
    .contact_right iframe{
        width: 200%;
    }
    
    .btn_card_recruit{
        font-size: 10px;
       
        width: 100px;
        border: none;
    } 
}