/* mobile first */


/* bloc mot du drh */
.container_mot_drh{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#263152 ;
    padding: 15px;
    margin-top: 15px;
}
.bloc_text_drh{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.bloc_text_drh h2{
    text-transform: uppercase;
}

/* bloc profil rechercher */ 
#titre_recherche{
    text-align: center;
    font-size: 18px;
    color: #686968;
    text-transform: uppercase;
    margin: 25px 0;
    padding-top: 15px;
}
.card_profil h5{
    color: white;
}
.card_profil a {
    align-self: flex-end;
    margin-right: 15px;
}

.card_profil p {
   color: white;
}
.operateur{
    background-color: #00A445;
    color: white;
}
.conducteur{
    background-color:#263152 ;
    color: white;
}
.chef{
    background-color: #A8A9AC;
    color: white;
}  
.container_card_profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.img_en_pratique {
    padding: 15px;
}

.container_img_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_img_profil img {
    height: 80%;
}



/* bloc poste à pourvoir */ 
.container_candidature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.container_candidature h2{
    text-align: center;
    font-size: 18px;
    color: #686968;
    text-transform: uppercase;
    margin: 25px 0;
    width: 70%;
}

.container_video_recrutement iframe{
    width: 100%;
}
/* .container_candidature .card{
    height: 100%;
}

.container_candidature .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_poste1{
    background-color:#00A445 ;
    color: white;
}
.card_poste > div{
    padding: 10px 0;
    justify-content: center;

}
.card_poste h5{
    width: 100%;
    padding: 0 15px;
    text-align: left;
    color: white;
}
.card_poste p{
    text-align: justify;
    padding: 0 15px;
    margin-bottom: 10px;
}
.card_poste a{
    font-size: 12px;
    padding: 0 5px;
    align-self: flex-start;
    margin-left: 15px;
}
.card_poste2{
    background-color:#263152 ;
    color: white;
}
.card_poste3{
    background-color:#A8A9AC ;
    color: white;
}
*/
.btn_candidature{
    background-color:#263152 ;
    color: white;
    margin-top: 10px;
    width: 100%;
    text-transform: uppercase;
}

.btn_candidature:hover{
    color: white;
} 


/* bloc temoignages */ 
/* .container_all_temoignage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 15px 0;
    margin-bottom: 50px;
}
.container_all_temoignage h2{
    font-size: 18px;
    width: 75%;
    text-align: center;
    color: #686968;
    text-transform: uppercase;
    margin: 20px 0;
}
.card_temoignage p{
    text-align: justify;
    align-self: flex-start;
    padding: 0 15px;
}
.card_temoignage_footer{
    font-size: 10px;
    padding-top: 0;
}
.card_temoignage_footer p{
    margin-bottom: 0;
}
.card_temoignage2 p{
    text-align: justify;
    align-self: flex-start;
    padding-left: 15px;
    padding-top: 0;
    color: #263152;
}
.card_temoignage_footer2{
    font-size: 10px;
    padding-top: 0;
}
.card_temoignage_footer2 p{
    margin-bottom: 0;
    color: #263152; 
}

.card_temoignage3 p{
    text-align: justify;
    align-self: flex-start;
    padding-left: 15px;
    padding-top: 0;
    color: #686968;
}
.card_temoignage_footer3{
    font-size: 10px;
    padding-top: 0;
}
.card_temoignage_footer3 p{
    margin-bottom: 0;
    color: #686968; 
}

.container_iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_iframe div{
    margin-bottom: 15px;
}
.container_iframe iframe{
    height: 200px;
    width: 100%;

} */

/* media queries*/
@media screen and (min-width: 768px){
    .title_carousel{
        padding: 25px 15px;
    }
    .bloc_text_drh {
        padding: 10px 50px;
        text-align: justify; 
    }
    .card_profil{
        width: 100%;
        align-items: end;
        padding-right: 20px;
    }
    .card_profil p{
        text-align: justify;
        padding: 0;
    }
    .card_profil a{
        font-size: 10px;
        padding: 6px 15px;
    }
    .btn_profil{
        font-size: 10px;
        padding: 0px 5px; 
    }
    .btn_profil svg{
        width: 13px;
        height: 13px;
    }
    .img_en_pratique img{
        width: 500px;
        height: 280px;
        object-fit: cover;
    }
    .text_en_pratique{
        padding-right: 0;
    }
    .card_poste p{
        font-size: 11px;
        padding: 10px 15px;   
    }
    .container_card_temoignage{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .container_iframe{
        flex-direction: row;
        margin-top: 40px;
        width: 100%;
        justify-content: space-between;
    }
    .container_iframe iframe{
        height: 220px;
    }
    .card_img_poste img{
        height: 100%;
        object-fit: cover;
    }
    .container_video_recrutement iframe{
        width: 100%;
        margin-bottom: 10px;   
    }
    .container_video_recrutement {
        display: flex;
        flex-direction: column;
       align-items: center;
       width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .container_card_profil{
        flex-direction: row;
    }
    .container_card_profil .card{
        margin: 0 5px;
    }
    .container_mot_drh{
        flex-direction: row-reverse;
    }
    .img_drh img{
        object-fit: cover;
        height: 300px;
    }

    .bloc_text_drh{
        align-items: start;
        width: 90%;
    }
    .bloc_text_drh h2{
        padding-bottom: 10px;
    }
    .card_poste p {
        font-size: 13px;
        padding: 14px 15px;
    }
    .container_card_temoignage {
        justify-content: space-between;
        margin-top: 25px;
    }
    .container_all_temoignage h2 {
       
        text-align: left;
       
    }
    .container_iframe {
       
        justify-content: space-evenly;
    }
    .card_profil{
        padding: 15px 5px;
    }
    .container__recrutement{
        align-items: center;
    }
    .container_video_recrutement {
        display: flex;
        flex-direction: row;
       justify-content: center;
       width: 100%;

    }
    .container_video_recrutement iframe{
        width: 300px;
        height: 250px; 
        margin: 0 15px;
    }
   


}

@media screen and (min-width: 1366px){
    .img_drh img {
        height: 260px;
    }
    .container_card_profil{
        flex-direction: row;
        align-items: unset;
    }

    .container_img_profil img {
        height: 100%;
        width: 95%;
        object-fit: cover;
    }

    .container_card_profil .card {
        margin: 0 5px;
        padding: 10px 5px;
    } 

    .card_profil p {
        text-align: justify;
        padding-right: 15px;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .card_profil h5{
        font-size: 15px;
        margin-top: 10px;
    }
    .card_img_poste img{
        margin-top: 0;
        height: 237px;
    }
    .btn_candidature{
        font-size: 12px;
    }
    .iframe_temoignage{
        margin-bottom: 15px;
        width: 48%;
    }
    .container_iframe iframe {
        height: 400px;
        width: 100%;
    }
    .card_img_poste img {
        height: 237px;
    }
   
    .bloc_text_drh h2{
        font-size: 20px;
    }
    .container_card_temoignage{
        flex-wrap: nowrap;

    }
    .container_card_temoignage .card{
        margin: 0 5px;
    }
    .title_recrutement3{
        padding: 50px 0;
    }
    .container_all_temoignage h2 {
        text-align: start;
        width: 100%;
        padding-left: 10px;
    }
    .container_candidature h2{
        padding-bottom: 15px;
    }
    
    .container_video_recrutement iframe{
        width: 390px;
        height: 300px; 
        
    }
}   