#titre_rse{
    font-size: 20px;
    text-transform: uppercase;
    color: #686968;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
}

.container_card_rse img {
    width: 100%;
    padding: 25px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.card_rse a {
    margin-top: 20px;
}

.container_card_rse .card {
    border-radius: 10px;
}

.container_texte_rse{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#707070 ;
    text-align: justify;
}

.card_rse h5{
    width: 100%;
    text-align: left;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 15px;
}
.card_rse p{
    text-align: left;
    padding: 0 25px;
}


@media screen and (min-width: 768px) {
    .container_card_rse .card{
        flex-direction: row;
        display: flex;
    }
    .container_card_rse .card img{
        width: 440px;
    }
   
}
@media screen and (min-width: 1024px) {
    .container_card_rse .card{
        flex-direction: column;   
    }
    .card_rse h5{
        font-size: 12px;
    }
    .card_rse p{
        font-size: 15px;
    }
   
}


@media screen and (min-width: 1224px) {
    #titre_rse{
        
        margin: 0 30px;
    }
    .container_texte_rse{
        
        width: 100%;
        margin-bottom: 50px;
    }
    .container_texte_rse p{
     
        margin: 0 30px;
    }
    .container_card_profil{
        flex-direction: row;
        align-items: unset;
    }
    .container_card_rse .card img {
        width: 300px;
    }

    .container_card_rse img {
        padding: 5px;
    }

    .container_card_profil .card {
        margin: 0 5px;
        padding: 10px 5px;
    }
    .card_rse p {
        text-align: justify;
        padding-right: 10px;
        font-size: 14px;
        margin-bottom: 2px;
    }
    .card_profil h5{
        font-size: 14px;
        margin-top: 10px;
    }
    .card_rse p{
        padding: 0 15px;
    }
    .card_rse h5{
        padding: 0 25px;
    }
    .title_rse{
        padding: 50px 0;
    }
}

@media screen and (min-width: 1400px) {
    .container_card_rse .card img {
        width: 325px;
    }
    .card_rse p{
        padding: 0 40px;
    }
    .card_rse h5{
        padding: 0 40px;
    }
   
}