.container_coordonnee{
    background-color: #263152!important;
}
.map_contact{
    order: 2;
}

.contact_left h6{
    color:#00A445 ;
}
.contact_mail a{
    color: white;
}
.nf-form-fields-required{
    display: none;
}
.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.container_form h3{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}
.nf-field-element input{
    font-size: 14px!important;
    border-radius: 25px!important;
    box-shadow: 1px 3px 5px!important;
    padding-left: 20px!important;
}
.nf-field-element select{
    font-size: 14px!important;
    border-radius: 25px!important;
    box-shadow: 1px 3px 5px!important;
    padding-left: 20px!important;
}
.nf-field-element textarea{
    font-size: 14px!important;
    border-radius: 25px!important;
    box-shadow: 1px 3px 5px!important;
    padding-left: 20px!important;
}
.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit]{
    background-color: #00A445!important;
    width: 100%!important;
    
}
.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea{
    border-radius: 25px!important;
    box-shadow: 1px 3px 5px!important;
}
.nf-form-cont{
    width: 100%!important;
}
#nf-field-17-wrap button{
    border-radius: 25px!important;
    background-color: white!important;
    color: #A8A9AC!important;
    box-shadow: 1px 3px 5px!important;
}
.nf-form-content input[type=button]:hover{
    color: white!important;
}

@media screen and (min-width:768px) {
    .nf-form-wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    nf-fields-wrap{
        display: flex;
        flex-wrap: wrap;
        width: 100%!important;
        justify-content: space-between;
    }
    nf-field{
        width: 49%;
    }
    nf-field:nth-of-type(5){
        width: 100%;
    }
    nf-field:nth-of-type(6){
        width: 100%;
    }
    nf-field:nth-of-type(7){
        width: 100%;
    }
    nf-field:nth-of-type(8){
        width: 30%;
    }
   
    
}