.container_savoir_faire{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    color: #707070;
}
.container_savoir_faire p{
    text-align: justify;
    color: black;
    font-size: 14px;
}
#titre_savoir_faire{
    font-size: 20px;
    text-transform: uppercase;
    color: #686968;
    text-align: center;
    padding: 25px 69px;
    margin-top: 30px;
}

.container_savoir_faire h5{
    padding: 15px 0;
    color: #686968;
    font-weight: bold;
    font-size: 18px;
}
.container__accordeon_deplombage{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

@media screen and (min-width: 768px) {
        #titre_plomb{
            align-self: flex-start;
        }
        .btn_plomb{
            margin: 0;
            align-self: flex-start;
        }
        .container_savoir_faire h5{
            text-align: center;
        }
        .container_savoir_faire p{
            margin: 0 20%;
            text-align: justify;
            padding-bottom: 20px;
        }

        #iframe_plomb{
            height: 350px;
            width: 400px;
        }
        .container_texte_plomb, .container_texte_plomb2{
            width: 80%;
        }
}

@media screen and (min-width: 1024px) {
    .container_savoir_faire{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container_image_plomb{
        width: 50%;
    }
    .container_texte_plomb{
        width: 50%;
        padding-left: 10px;
    }
    .container__accordeon_deplombage{
        width: 100%;
    }
    .container_savoir_faire h5{
        padding: 0;
    }
    .container_savoir_faire p{
        margin: 0;
        
    }
    .container_image_plomb2{
        width: 50%;
    }
    .container_image_plomb2 img{
        height: 270px;
        width: 100%;
        object-fit: cover;

    }
    .container_texte_plomb2{
        width: 50%;
        padding-right: 10px;
    }
    .ordre_image{
        order: 2;
    }

}

@media screen and (min-width: 1366px) {
   
    .container_image_plomb{
        width: 50%;
    }
    .container_image_plomb img{
        height: 270px;
        width: 96%;
        object-fit: cover;

    }
    .container_texte_plomb{
        width: 50%;
        
    }
    .container_savoir_faire h5{
        padding: 0;
        text-align: justify;
    }
    .container_savoir_faire p{
        margin: 0;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .container_image_plomb2{
        width: 50%;
    }
    .container_image_plomb2 img{
        height: 270px;
        width: 100%;
        object-fit: cover;

    }
    .container_texte_plomb2{
        width: 50%;
        padding-right: 20px;
    }
    #iframe_plomb{
        height: 400px;
        width: 500px;
    }
}
