@font-face {
    font-family: 'Aktiv Grotesk Corp Light';
    src: url('../font/AktivGroteskCorp-Light.eot');
    src: local('../font/AktivGroteskCorp-Light'),
        url('../font/AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/AktivGroteskCorp-Light.woff2') format('woff2'),
        url('../font/AktivGroteskCorp-Light.woff') format('woff'),
        url('../font/AktivGroteskCorp-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('../font/AktivGroteskCorp-Medium.eot');
    src: local('../font/AktivGroteskCorp-Medium'),
        url('../font/AktivGroteskCorp-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/AktivGroteskCorp-Medium.woff2') format('woff2'),
        url('../font/AktivGroteskCorp-Medium.woff') format('woff'),
        url('../font/AktivGroteskCorp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp Bold';
    src: url('../font/AktivGroteskCorp-Bold.eot');
    src: local('../font/AktivGroteskCorp-Bold'),
    url('../font/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/AktivGroteskCorp-Bold.woff2') format('woff2'),
    url('../font/AktivGroteskCorp-Bold.woff') format('woff'),
    url('../font/AktivGroteskCorp-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp Medium';
    src: url('../font/AktivGroteskCorp-Medium.eot');
    src: local('../font/AktivGroteskCorp-Medium'),
    url('../font/AktivGroteskCorp-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/AktivGroteskCorp-Medium.woff2') format('woff2'),
    url('../font/AktivGroteskCorp-Medium.woff') format('woff'),
    url('../font/AktivGroteskCorp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

ul{
    padding-left: 0!important;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: inherit;
}
p{
    font-family: 'Aktiv Grotesk Corp Light';
}
p span{
    font-family: 'Aktiv Grotesk Corp Light';
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Aktiv Grotesk Corp';
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h2 {
    text-align: center;
}

label{
    font-size: 36px;
    line-height: 70px;
    display: none;
}
b, strong{
    font-family: 'Aktiv Grotesk Corp Medium';
    font-weight: 300;
}


.container_main{
    margin: 0 10%;

}
.post{
    color: #686968;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

/* partie carousel*/
.carousel-inner{
    height: 65vh;
}
.container_bckg{
    background-color: rgba(168,169,172, 0.1);
    width: 100%;

}
.reseaux_sociaux_carousel{
    display: flex;
}


.title_carousel{
    font-size: 22px;
    text-align: center;
    width: 250px;
    color: white;
    background-color: #A8A9AC;
    opacity: 0.9;
    padding: 20px 60px;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    right: 5%;
}
.title_carousel h2{
    font-size: 22px;
}

.carousel-item img{
    height: 70vh;
    object-fit: cover;
}
.carousel-indicators{
    position: inherit;
    margin: 0;
    bottom: 5%;
    top: 5px;
}

.carousel-indicators button{
    background-color: #c1c2c4!important;
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%!important;
}

.hr{
    width: 25px;
    margin-left: 45%;
}
.carousel-control-prev{
    left: 46%!important;
    width: 3%!important;
    bottom: 10%!important;
    top: unset;

}
.carousel-control-next{
    right: 46%!important;
    width: 3%!important;
    bottom: 10%!important;
    top: unset;
}

.reseaux_sociaux_carousel{
    
    opacity: 0.8;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    margin-top: 20px;
}
.reseaux_sociaux_carousel a{
    margin-left: 5px;
}
.reseaux_sociaux_carousel a img:hover{
    background-color:#00A445 ;
    border-radius: 100%;
}

/* fin de partie carousel*/


/* media queries*/
@media screen and (min-width: 768px){

    .post img{
        width: 100%;
        object-fit: cover;
    }

}
@media screen and (min-width: 1024px){

    .post {
        width: 60%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

}
@media screen and (min-width: 1366px){

    .title_carousel{
        font-size: 20px;
        text-align: center;
        width: 250px;
        color: white;
        background-color: #A8A9AC;
        opacity: 0.9;
        padding: 20px 60px;
        text-transform: uppercase;
        position: absolute;
        top: 40%;
        left: 75%;
    }


}
@media screen and (max-width: 1199px) {
    .carousel-inner{
        height: 73vh;
    }
    
}
@media screen and (max-width: 991px) {
    .carousel-inner{
        height: 54vh;
    }
    
}

@media screen and (max-width: 1024px) {

    .reseaux_sociaux_carousel a {
        width: 24px;
    }
    .title_carousel h2{
        font-size: 16px;
    }
    .title_carousel{
        width: 200px;
        padding: 10px 15px;
    }
    
}

@media screen and (max-width: 767px){

    .carousel-control-prev {
        left: 40%!important;
        width: 8%!important;
        bottom: 40px!important;
    }
    .carousel-control-next{
        right: 40%!important;
        width: 8%!important;
        bottom: 40px!important;
    }
    .title_carousel{
        width: 100%;
        padding: 30px 0 50px;
        position: initial;
    }

    .reseaux_sociaux_carousel {
        position: absolute;
        bottom: 5%;
        right: auto;
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }

    .carousel-item img {
        object-fit: cover;
        height: 60vh;
    }
}