
/* bloc chantier en étapes*/
.bloc_press_remove{
    background-color: #263152;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
.bloc_press_remove h5{
    text-transform: uppercase;
    font-size: 20px;
}
.bloc_press_remove p{
    text-align: justify;
    font-size: 15px;
}

/*bloc cards chantier en étapes*/
.container_card_chantier{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_card_chantier img{
    padding:25px;
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.container_card_chantier .card{
    margin: 10px 0;
    color: white;
}
.container_card_chantier .card h5{
    color: white;
}
.card_chantier {
    padding: 0;
    padding-bottom:10px ;
}
.card_chantier h5{
    text-align: left;
    width: 80%;
}
.card_chantier p{
    text-align: left;
    padding: 0 30px;
}
.btn_accordeon__realisation{
    color:black!important;
}

.accordeon_real{
    display: flex;
}
.accordeon_real img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.body_real p{
    margin-left: 30px;
}



/*bloc cards succes story*/
.container_all_succes_story{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_all_succes_story .card{
    margin: 10px 0;
    height: 620px;
}
.container_all_succes_story .card h5{
    height: 50px;
}

.container_all_succes_story .card p{
    padding: 0 30px;
    text-align: left;
    height: 170px;
    font-size: 15px;
}
.container_all_succes_story img{
    padding: 20px;
    height: 275px;
    object-fit: cover;
}
.recherche_realisation{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.recherche_realisation .container__text {
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.recherche_realisation .container__text .filtre {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.recherche_realisation .container__text .filtre p {
    font-size: 14px;
}

.recherche_realisation .container__text .filtre form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.recherche_realisation .container__text .filtre input {
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin: 5px;
}
.btn_succes_story{
    padding: 5px 7px;
    font-size: 13px;
    border: none;
}
.btn_bckg_grey{
    background-color:#A8A9AC ;
    color: white;
}
.recherche_realisation .container__text .filtre input:focus{
    outline: none;
}

/*bloc temoignages collaborateurs*/
#titre_temoignages{
    font-size: 20px;
    text-transform: uppercase;
    color: #686968;
    text-align: center;
    margin: 25px 0;
}
.container_card_temoignage_collaborateur{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.container_card_temoignage_collaborateur .card{
    background-color: #A8A9AC;
      color: white;
  
}
.card_temoignage_collaborateur p{
    color: white;
    padding: 0 15px;
    font-size: 15px;
    text-align: center;
}
.card_temoignage_collaborateur_footer{
    width: 100%;
    font-size: 11px;
    height: 85px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.card_temoignage_collaborateur_footer p{
    color: white;
    font-size: 12px;
    text-align: left;
    padding: 0;
}
.container_card_footer{
    display: flex;
    width: 100%;
}
.image_card_footer{
    width: 50%;
}
.image_card_footer img{
    width: 80px;
    border-radius: 100%;
    height: 80px;
    object-fit: cover;
    margin-left: 30px;
}

/*bloc ils nous font confiance*/
#titre_partenaire{
    font-size: 20px;
    text-transform: uppercase;
    color: #686968;
    text-align: center;
   margin: 25px 0;
}
.container_partenaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}


.slider__part .item img {
    width: 115px;
}


.slider__part .owl-nav{
    display: block!important;
    position: relative;
}

.slider__part .owl-nav .owl-prev{
    position: absolute;
    left: 10px;
    bottom: 80px;
}

.slider__part .owl-nav .owl-next{
    position: absolute;
    right: 10px;
    bottom: 80px;

}

.slider__part .owl-nav .owl-next:hover , .slider__part .owl-nav .owl-prev:hover{
    background: transparent!important;
}

.slider__part .owl-stage-outer{
    box-shadow: #c2c5d0 1px 1px 5px;

}

.slider__part .prev-slide::before{
    content: url("../images/arrowLeft.png");
}

.slider__part .next-slide::before{
    content: url("../images/arrowRight.png");
}
.slider__part .owl-dots{
    display: none;
}


.slider__part .item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .bloc_press_remove p{
        padding: 10px 50px;
    }
    .container_card_chantier, .container_card_temoignage_collaborateur{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container_all_succes_story {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .container_all_succes_story .card{
        width: 49%;
    }
    .container_card_chantier .card{
        width: 49%;
        height: 400px;
    }

    .container_card_temoignage_collaborateur .card {
        width: 49%;
    }
    .container__text h5{
        padding: 10px 0;
    }
    .filtre{
        flex-direction: row!important;
    }
    .filtre form{
        flex-direction: row!important;
        justify-content: space-evenly!important;
    }
    .container_all_succes_story .card p{
        font-size: 14px;
    }
}
@media screen and (min-width: 1024px) {
    .bloc_press_remove p{
        padding: 10px 100px;
        text-align: center;
        font-size: 18px;
    }
    .container_card_chantier, .container_all_succes_story, .container_card_temoignage_collaborateur{
        justify-content: space-evenly;
    }
    .container_all_succes_story .cards_home{
        margin: 0;
        margin-bottom: 15px;
    }
    .container_partenaire{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .recherche_realisation {
        width: 100%;
        flex-direction: column;
    }

    .recherche_realisation .container__text {
        flex-direction: row;

    }

    .recherche_realisation .container__text .filtre {
        flex-direction: row;
        width: auto;
    }

    .recherche_realisation .container__text .filtre p {
        width: 100%;
        margin: 0 20px;

    }

    .recherche_realisation .container__text .filtre form{
        flex-direction: row;
    }



    .recherche_realisation .container__text .filtre input {
        margin: 0 5px;
    }
    .container_all_succes_story .card p{
        font-size: 15px;
    }
    .slider__part .owl-dots{
        display: block;
    }
}

@media screen and (min-width: 1224px) {
    .bloc_press_remove p{
        width: 80%;
        margin: auto;
    }

    .container_card_temoignage_collaborateur .card {
        width: 24%;
    }
    .container_card_chantier{
        flex-wrap: nowrap;
    }
    .container_card_chantier .card{
        margin: 0 5px;
        height: 450px;
    }
    .container_card_temoignage_collaborateur .card{
        margin: 0 5px;
    }

    .container_card_chantier .card{
        width: 24%;
    }

    .container_all_succes_story .card{
        width: 33%;
    }
}


.readall {
    position: relative;
    text-align: left;
    box-sizing: border-box;
}

.readall-wrapper {
    text-align: center;
}
.readall-button {
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    text-decoration: underline;
    display: flex;
    padding: 5px 20px;
}

.readall-button:hover {
    color: white;
    background: silver;
}

/* .readall-hide:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), white 75%);
} */